<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>$MY_STATUS_TITLE</title>
<meta name="viewport" content="width=device-width">
<meta name="robots" content="noindex, nofollow">
<link rel="stylesheet" href="$MY_STATUS_STYLESHEET">
</head>
<body>
<div class="container">
<div class="page-header">
	<h1>
		$MY_STATUS_TITLE
		<span class="pull-right hidden-xs hidden-sm">
			<a href="$MY_HOMEPAGE_URL" class="btn btn-primary" role="button">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
				Homepage
			</a>
		</span>
	</h1>
</div>
<p class="hidden-md hidden-lg">
	<a href="$MY_HOMEPAGE_URL" class="btn btn-primary" role="button">
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
		Homepage
	</a>
</p>

<hr>
<footer>
	<p>$MY_STATUS_FOOTER</p>
	<p class="text-muted">$MY_DATE_TIME</p>
</footer>
</div>
</body>
</html>